{% extends 'common/base.html' %}
{% load profile_complete_notification %}

{% block content %}

    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1>Featured<br><em>Places</em></h1>
                {% if places %}
                    <p>View people's most enjoyable places around the world,
                        <br>share your favourite ones and inspire the others to travel.</p>
                {% else %}
                    <p>There are still no published destinations.
                        <br>Be the first one to add your favourite place <a href="{% url 'create place' %}">HERE</a></p>
                {% endif %}
            </div>
            <p>{% profile_complete_notification %}</p>

            <div class="section-content">
                <div class="owl-carousel owl-theme">
                    {% for place in places %}
                        <div class="item" style="background-color: #dbdbdb;">
                            <div class="image" style="width: auto; height: 450px; ">
                                <img src="{{ place.image.url }}" alt="" style="width: 100%; height: 100%; object-fit: contain">
                                <div class="featured-button button">
                                    <a href="{% url 'place details' place.id %}">View More Photos</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>{{ place.name }}</h4>
                                <span>{{ place.location }}</span>
                                <p>{{ place.description }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </div>

{% endblock %}