{% extends 'common/base.html' %}
{% block content %}

    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1>{{ place.name }}<br><em>{{ place.location }}</em></h1>
                <p>{{ place.description }}</p>
            </div>

            <div class="section-content">
                <div class="owl-carousel owl-theme">
                    <div class="item" style="background-color: #dbdbdb;">
                        <div class="image" style="width: auto; height: 450px;">
                            <a href="{{ place.image.url }}" data-lightbox="image"><img src="{{ place.image.url }}" style="width: 100%; height: 100%; object-fit: contain"></a>
                            {#                            <img src="{{ place.image.url }}" alt="" style="height: 430px">#}
                        </div>
                        <div class="text-content">
                            <div>
                                {% if is_owner %}
                                    <a href="{% url 'edit place' place.id %}" class="btn"
                                       style="background-color: #45489a; color: #f9f9f9; width: 70px;">Edit</a>
                                    <a href="{% url 'delete place' place.id %}" class="btn btn-danger">Delete</a>
                                {% else %}
                                    <a href="{% url 'like place' place.id %}">
                                        {% if is_liked %}
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                                <p class="mt-2" style="font-size: larger">Likes: {{ place.likes_count }}</p>
                            </div>
                        </div>
                    </div>
                    {% for p in place.images_set.all %}
                        <div class="item" style="background-color: #dbdbdb;">
                            <div class="image" style="width: auto; height: 450px;">
                                    <a href="{{ p.image.url }}" data-lightbox="image"><img src="{{ p.image.url }}" style="width: 100%; height: 100%; object-fit: contain"></a>
                            </div>
                        </div>
                 {% endfor %}
                </div>
            </div>

        </section>

        <h4 style="text-align: center">Comments</h4>
        <div class="d-block" style="background-color: #dbdbdb; padding: 1px; width: 71%; position: absolute; left: 26%">

            {% if comments %}
                {% for comment in comments %}
                    <div class="box" style="text-align: center">
                        <h5><em><u>{{ comment.user }}:</u> {{ comment.text }} {{ comment.created_on }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box" style="text-align: center">
                    <br>
                    <h4>There are no comments for this place.</h4>
                    <br>
                </div>
            {% endif %}
            <div class="box" style="text-align: center">
                {% if not is_owner %}
                    <form method="post" action="{% url 'comment place' place.id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button class="btn" style="background-color: #45489a; color: #f9f9f9; width: 120px;"
                                type="submit">Add comment
                        </button>
                        <br><br><br>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}






